header {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3%;
  background-color: var(--tertiary);
  color: var(--body);
}

header h1 {
  margin-left: 6%;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-right: 3rem;
}

a {
  color: var(--body);
}

a:hover {
  color: var(--secondary);
}
