:root {
  font-family: 'Noto Sans', serif;
  background-color: var(--body);
  --body: rgb(255, 251, 247);
  --primary: #d5d887;
  --secondary: #89d038;
  --tertiary: #55a828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 4px;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--tertiary);
}

a:hover {
  color: var(--body);
}

ul {
  list-style-type: none;
}

main {
  scroll-behavior: smooth;
}
