.h1h3 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 2rem;
}
.aboutme1 {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-around;
}

.aboutme1 > img {
  width: 270px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.aboutme1 > .rotate {
  animation: rotate infinite 5s;
}

.aboutme > p {
  max-width: 700px;
  text-align: center;
}

.aboutme > ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme li {
  padding: 2px 8px;
  background-color: var(--body);
  border-radius: 1rem;
  color: var(--background);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
