.h1h3 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 2rem;
  color: var(--secondary);
}
.h1h3 > h1 {
  color: var(--tertiary);
}
.aboutme1 {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-around;
  background-color: var(--body);
  margin-top: 1rem;
}

.aboutme1 > img {
  width: 270px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.aboutme1 > .rotate {
  animation: rotate infinite 5s;
}

.aboutme > ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutme li {
  width: 100px;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: var(--body);
  padding: 3rem;
}

.aboutme > p {
  max-width: 600px;
  text-align: initial;
}
.aboutme > h1 {
  font-size: 2rem;
  color: var(--tertiary);
}

.aboutme > .h1skills {
  text-align: center;
}

@media (max-width: 768px) {
  .aboutme1 {
    display: block;
    align-items: center;
    padding-top: 5rem;
  }
}
